.Homepage {
    background-color: #aedcae;
    background-image: url(resources/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.heading {
    padding-top: 30px;
    margin-top: 50px;
    clear: both;
    text-align: center;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}
.head2 {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    margin-top: 60px;
    font-size: x-large;
    color: #C34A2C; 
}
.information {
    font-family: "Pixelify Sans", sans-serif;
    font-style: normal;
    font-size: larger;
    margin-top: 40px;
    color: #C34A2C;
}
.Favanime {
    margin-top: 80px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: x-large;
    text-align: center;
    color: #9E4638;
}
.animepic{
    font-family: "Pixelify Sans", sans-serif;
    font-size: x-large;
}
.Haikyuu {
    margin-top: 60px;
    text-align: center;
    color: #E56717;
}
.Kuroko {
    margin-top: 60px;
    text-align: center;
    color: #045F5F;
}
.Spyfam{
    margin-top: 60px;
    text-align: center;
    color: #F98B88;
}
.Windb{
    margin-top: 60px;
    text-align: center;
    color: #004225;
}
.baseball{
    margin-top: 60px;
    text-align: center;
    color: #872657;
}
.Educationhead {
    margin-top: 60px;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: x-large;
    color: #622F22;
}
nav a {
    float: left;
    margin-right: 70px;
    text-decoration: none;
    font-size: 50px;
    font-family: "Pixelify Sans", sans-serif;
    color: #ffd905;
    font-weight: bold;
}
nav a:hover {
    color: #e27a18;
}
.myjourney {
    background-image: url(resources/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.myfuture {
    background-image: url(resources/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.year1 {
    float: left;
    margin-left: 200px;
    background-color: #fdf8e2;
    color: #042389;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 60px;
    font-family: "Acme", sans-serif;
}
.year2 {
    float: right;
    margin-right: 200px;
    background-color: #a3b565;
    color: #fdf8e2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
    font-family: "Acme", sans-serif;
}
.year3 {
    margin-right: 200px;
    margin-left: 200px;
    clear: both;
    background-color: #fcdd9d;
    color: #E56717;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
    font-family: "Acme", sans-serif;
}
.year4 {
    margin-right: 200px;
    margin-left: 200px;
    background-color: #f1642e;
    color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
    font-family: "Acme", sans-serif;
}
.headmj {
    padding-top: 30px;
    clear: both;
    font-size: 45px;
    font-family: "Acme", sans-serif;
    text-align: center;
    color: #e7a635;
    font-size: 45px;
}
.headmf {
    padding-top: 30px;
    clear: both;
    text-align: center;
    margin-top: 100px;
    font-size: 45px;
    font-family: "Acme", sans-serif;
    color: #9E4638;
}
.mf {
    font-family: "Acme", sans-serif;
    color: #E56717;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
.pic {
    border-radius: 15px;
}
footer {
    margin-top: 70px;
    background-color: #ffe066;
    opacity: 50%;
    text-align: center;
    clear: both;
    font-family: "Acme", sans-serif;
}
